# Prefer US English and use UTF-8. Use export to see what locale returns
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

export PATH=$HOME/bin:/usr/local/bin:$PATH

export EDITOR='sb';
export VISUAL='sb -w'

export HEX_MIRROR="https://hexpm.upyun.com"
export HEX_CDN="https://hexpm.upyun.com"

# To use Homebrew's directories rather than ~/.pyenv
export PYENV_ROOT=/usr/local/var/pyenv

export PATH=$PATH:$HOME/go/bin
export GOPATH=$HOME/go
