# Prefer US English and use UTF-8. Use export to see what locale returns
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

export PATH=$HOME/bin:/usr/local/bin:$PATH

export EDITOR='sb';
export VISUAL='sb -w'

export HOMEBREW_GITHUB_API_TOKEN="a9577a4aa44b8b68bb885f6046c66356b2d2e298"