registry=https://registry.npmmirror.com/
init.author.email=df1228@gmail.com
init.author.name=dfang
init.author.url=https://www.google.com/
init.license=MIT
init.version=0.0.1
disturl=https://npmmirror.com/dist
sass_binary_site=https://npmmirror.com/mirrors/node-sass
electron_mirror=https://npmmirror.com/mirrors/electron
puppeteer_download_host=https://storage.googleapis.com.cnpmjs.org
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents
SQLITE3_BINARY_SITE=https://npmmirror.com/mirrors/sqlite3
PYTHON_MIRROR=https://npmmirror.com/mirrors/python
